{{form_start(formAddOpinion)}}

    {{form_row(formAddOpinion.pseudonyme)}}
    {{form_row(formAddOpinion.email)}}
    {{form_row(formAddOpinion.note)}}
    {{form_row(formAddOpinion.comment)}}
    {{form_row(formAddOpinion.picture)}}
    <div class="submit">
        {{form_row(formAddOpinion.submit)}}
    </div>

{{form_end(formAddOpinion)}}